<h1>Agenda</h1>

<p>
  El evento tendrá lugar los días viernes 31 de octubre y sábado 1 de noviembre
  de 2014, durante todo el día, <a href="#/location">en Madrid</a>. 
</p>


<p>
  La agenda del DevFest Madrid está compuesta de 8 ponencias, divididas en 2
  días, con 3 ponencias el viernes 31 de octubre por la tarde y 5 ponencias el
  sábado 1 de noviembre.
</p>


<h3>Agenda DevFest Madrid 2014</h3>


<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="table-responsive">
      <table class="table 
		    table-bordered 
		    table-hover 
		    table-striped 
		    table-condensed
		    agenda">
	<col class="horas">
	<col class="trak">
	<thead>
	  <tr>
	    <th>Horario</th>
	    <th class="active">Viernes 31 de octubre</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <th>16:30 - 18:00</th>
	    <td>
	      <a href="#/agenda#fernandez"><b>Javier Fernández Seco</b></a>
	    </td>
	  </tr>
	  <tr>
	    <th>18:00 - 19:30</th>
	    <td>
	      <a href="#/agenda#liersh"><b>Martin Liersh</b></a>
	    </td>
	  </tr>
	  <tr>
	    <th>11:00 - 11:30</th>
	    <td>
	      <a href="#/agenda#gomez"><b>Pedro Gómez Sanchez</b></a>
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="table-responsive">
      <table class="table 
		    table-bordered 
		    table-hover 
		    table-striped 
		    table-condensed
		    agenda">
	<col class="horas">
	<col class="trak">
	<thead>
	  <tr>
	    <th>Horario</th>
	    <th class="active">Sábado 1 de noviembre</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <th>10:00 - 11:30</th>
	    <td>
	      <a href="#/agenda#valiente"><b>César Valiente</b></a>
	    </td>
	  </tr>
	  <tr>
	    <th>11:30 - 13:00</th>
	    <td>
	      <a href="#/agenda#diaz"><b>Saúl Díaz</b></a>
	    </td>
	  </tr>
	  <tr>
	    <th>13:00 - 14:30</th>
	    <td>
	      <a href="#/agenda#ugia"><b>José Luis Ugía</b></a>
	    </td>
	  </tr>
	  <tr>
	    <th>14:30 - 16:00</th>
	    <td class="warning">
	      Comida
	    </td>
	  </tr>
	  <tr>
	    <th>16:00 - 17:30</th>
	    <td>
	      <a href="#/agenda#zasadnyy"><b>Oleh Zasadnyy</b></a>
	    </td>
	  </tr>
	  <tr>
	    <th>17:30 - 19:00</th>
	    <td>
	      <a href="#/agenda#coloma"><b>Nacho Coloma</b></a>
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
</div>



<h2>Detalle de sesiones</h2>

Aún con algunos ponentes por confirmar y sesiones por confirmar, adelantamos
algunos de los contenidos que formarán parte del DevFest Madrid 2014. Tanto los
títulos como los contenidos son orientativos, se completarán y confirmarán según
se acerque las fechas del evento.

<br/>
<br/>

<devfest-session
   anchor="fernandez"
   speakerName="Javier Fernández Seco"
   speakerAnchor="fernandez"
   day="Viernes 31 de Octubre"
   startTime="16:30"
   endTime="18:00">
  <p>
    Qué es WebRTC y PeerConnection. De lo general a lo particular, WebRTC y
    XMPP, SDP y ICE Jingle XMPP extension v.s Tuenti's Tangle
    protocol. Señalización del protocolo SIP.  Necesidad de un stack. Combinando
    ambas señalizaciones. Cómo crear un puente entre ambos protocolos.  B2BUA
    Con una pata SIP y una pata Tangle. Solución de un Gateway basado en
    SipServlets.
  </p>
</devfest-session>

<devfest-session
   anchor="liersh"
   speakerName="Martin Liersch"
   speakerAnchor="liersh"
   day="Viernes 31 de Octubre"
   startTime="18:00"
   endTime="19:30">
  <p>
    <b>Introduction to the Gradle build system for Android</b>
  </p>
  <p>
    Introductory talk on the new Gradle-based build system for Android as well
    as migration hints to migrate from Eclipse to Android Studio (and Gradle) or
    use both in parallel.
  </p>
</devfest-session>

<devfest-session
   anchor="gomez"
   speakerName="Pedro Gómez Sánchez"
   speakerAnchor="gomez"
   day="Viernes 31 de Octubre"
   startTime="19:30"
   endTime="21:00">
  <p>
    La inyección de dependencias es una de las herramientas más potentes con la
    que un desarrollador puede contar. Sin embargo, en Android su uso no es del
    todo común. A lo largo de esta charla contaremos cómo implementar este
    patrón utilizando Dagger y las ventajas que esto supone tanto para testing
    como para la arquitectura de nuestro software.
  </p>
</devfest-session>

<devfest-session
   anchor="valiente"
   speakerName="César Valiente"
   speakerAnchor="valiente"
   day="Sábado 1 de Noviembre"
   startTime="10:00"
   endTime="11:30">
  <p>
    In the creation of Wunderlist we have learned many things.
  </p>
  <p>
    Since June 2012 when we started the creation of the 2nd release of
    Wunderlist, we have growth from around 400.000 downloads to more than 2
    millions, we’ve been featured in Google Play Store (actually we are in the
    Editor’s Choice), Google Play for Education, Amazon App Store, etc.
  </p>
  <p>
    Now with the release of our last version in late July of this year, we have
    taken Wunderlist beyond than never, we have changed the whole architecture
    and core of the app to make it more stable, faster and easier to
    maintain. Wunderlist has now a much better design, real time
    synchronization, and new and great features.
  </p>
  <p>
    So in this talk I will talk about the things we’ve learned building a
    multimillion and successful Android app as Wunderlist is.
  </p>
</devfest-session>

<devfest-session
   anchor="diaz"
   speakerName="Saúl Díaz"
   speakerAnchor="diaz"
   day="Sábado 1 de Noviembre"
   startTime="11:30"
   endTime="13:00">
  <p>
    El testing es una parte esencial del desarrollo de software. Hablaremos de
    como enfocar tu código a ser testable puede mejorar la manera de
    estructurarlo y de ahorrar costes a la hora del mantenimiento. Además
    miraremos diferentes estrategias, herramientas y trucos a la hora de añadir
    testing a tu aplicación Android.
  </p>
</devfest-session>

<devfest-session
   anchor="ugia"
   speakerName="José Luis Ugía"
   speakerAnchor="ugia"
   day="Sábado 1 de Noviembre"
   startTime="13:00"
   endTime="14:30">
  <p>
    Uno de los objetivos o planes de futuro más conocido en gran parte de la
    comunidad de desarrolladores es crear su propio
    proyecto/aplicación/servicio. Pero la mayoría de ellos tan solo disponen de
    recursos y conocimientos limitados.
  </p>
  <p>
    En esta charla se abordará este tema desde el punto de vista técnico y de
    producto, en un entorno de escasez de recursos tanto económicos como en
    conocimientos. Se tratará de reducir las necesidades al mínimo viable y se
    tomará ventaja de sistemas como Android y plataformas como App Engine, bajo
    una filosofía de desarrollo ágil, basada en vivir en beta y tratando de
    recoger feedback constante de agentes externos.
  </p>
  <p>
    Estos conceptos se aplicarán sobre un caso práctico: una aplicación Android
    sustentada sobre una Api construida en App Engine (no-sql datastore o search
    api) en Python.
  </p>
</devfest-session>

<devfest-session
   anchor="zasadnyy"
   speakerName="Oleh Zasadnyy"
   speakerAnchor="zasadnyy"
   day="Sábado 1 de Noviembre"
   startTime="16:00"
   endTime="17:30">
  <p>
    <b>GDG[x]. From idea to project</b>
  </p>

  <p>
    Developers are very creative people with many ideas, which they want to
    share with rest of the world. GDG[x] great place for sharing their passion
    with another communities. Project Zeppelin is one of them which have been
    created for promotion DevFests around the world. In presentation you will be
    able to hear base principles, mistakes and solutions of project.
  </p>
</devfest-session>

<devfest-session
   anchor="coloma"
   speakerName="Nacho Coloma"
   speakerAnchor="coloma"
   day="Sábado 1 de Noviembre"
   startTime="17:30"
   endTime="19:00">
  <p>
    <b>Google Cloud Platform</b>
  </p>
</devfest-session>

