<h1>Agenda</h1>

<p>
  El evento tendrá lugar los días viernes 31 de octubre y sábado 1 de noviembre
  de 2014, durante todo el día, en el Madrid (sitio por determinar).
</p>

<p>
  ¿Quieres participar en el DevFest Madrid impartiendo una
  ponencia? <a href="https://docs.google.com/forms/d/1cEINCefUnUsXl-4m9ZJPP-wmnhGQGsUPMHdqdtN8QB8/viewform">Háznoslo
    saber mediante este formulario.</a>
</p>

<p>
    La agenda del DevFest Madrid está por determinar, a falta de confirmar todas
    las ponencias. Pronto se publicará más información.
</p>


<h2>Detalle de sesiones</h2>

Aún con algunos ponentes por confirmar y sesiones por confirmar, adelantamos
algunos de los contenidos que formarán parte del DevFest Madrid 2014. Tanto los
títulos como los contenidos son orientativos, se completarán y confirmarán según
se acerque las fechas del evento.

<br/>
<br/>

<devfest-session
   anchor="valiente"
   speakerName="César Valiente"
   speakerAnchor="valiente">
  <p>
    In the creation of Wunderlist we have learned many things.
  </p>
  <p>
    Since June 2012 when we started the creation of the 2nd release of
    Wunderlist, we have growth from around 400.000 downloads to more than 2
    millions, we’ve been featured in Google Play Store (actually we are in the
    Editor’s Choice), Google Play for Education, Amazon App Store, etc.
  </p>
  <p>
    Now with the release of our last version in late July of this year, we have
    taken Wunderlist beyond than never, we have changed the whole architecture
    and core of the app to make it more stable, faster and easier to
    maintain. Wunderlist has now a much better design, real time
    synchronization, and new and great features.
  </p>
  <p>
    So in this talk I will talk about the things we’ve learned building a
    multimillion and successful Android app as Wunderlist is.
  </p>
</devfest-session>

<devfest-session
   anchor="ugia"
   speakerName="José Luis Ugía"
   speakerAnchor="ugia">
  <p>
    Uno de los objetivos o planes de futuro más conocido en gran parte de la
    comunidad de desarrolladores es crear su propio
    proyecto/aplicación/servicio. Pero la mayoría de ellos tan solo disponen de
    recursos y conocimientos limitados.
  </p>
  <p>
    En esta charla se abordará este tema desde el punto de vista técnico y de
    producto, en un entorno de escasez de recursos tanto económicos como en
    conocimientos. Se tratará de reducir las necesidades al mínimo viable y se
    tomará ventaja de sistemas como Android y plataformas como App Engine, bajo
    una filosofía de desarrollo ágil, basada en vivir en beta y tratando de
    recoger feedback constante de agentes externos.
  </p>
  <p>
    Estos conceptos se aplicarán sobre un caso práctico: una aplicación Android
    sustentada sobre una Api construida en App Engine (no-sql datastore o search
    api) en Python.
  </p>
</devfest-session>

<devfest-session
   anchor="gomez"
   speakerName="Pedro Gómez Sánchez"
   speakerAnchor="gomez">
  <p>
    La inyección de dependencias es una de las herramientas más potentes con la
    que un desarrollador puede contar. Sin embargo, en Android su uso no es del
    todo común. A lo largo de esta charla contaremos cómo implementar este
    patrón utilizando Dagger y las ventajas que esto supone tanto para testing
    como para la arquitectura de nuestro software.
  </p>
</devfest-session>


<devfest-session
   anchor="liersh"
   speakerName="Martin Liersch"
   speakerAnchor="liersh">
  <p>
    <b>Introduction to the Gradle build system for Android</b>
  </p>
  <p>
    Introductory talk on the new Gradle-based build system for Android as well
    as migration hints to migrate from Eclipse to Android Studio (and Gradle) or
    use both in parallel.
  </p>
</devfest-session>

