<h1>Inscripción</h1>

<p>
  El proceso de inscripción y control de asistencia se llevará a cabo utilizando
  la plataforma <a href="http://www.eventbrite.es/">Eventbrite</a>.
</p>

<a href="https://devfestmadrid2014.eventbrite.es">
  <h3 style="text-align: center;">Acceso al evento</h3>
</a>


<div style="width:100%; text-align:left;" >
  <iframe  src="//eventbrite.es/tickets-external?eid=12620575481&ref=etckt"
	   frameborder="0" 
	   height="306" 
	   width="100%" 
	   vspace="0" 
	   hspace="0" 
	   marginheight="5" 
	   marginwidth="5" 
	   scrolling="auto" 
	   allowtransparency="true">
  </iframe>
</div>
