
<h1></h1>

<p>
  Los GDG DevFest son eventos a gran escala dirigidos por la comunidad y para la
  comunidad que se celebran anualmente por todo el mundo. Cada uno de los
  eventos está organizado por una comunidad local de desarrolladores que, en
  base a los intereses de dicha comunidad, elaboran su agenda y contenidos. La
  temática de los DevFest suele estar relacionada con productos de
  Google. Aunque no hay dos DevFest iguales, todos están alimentados por la
  creencia de que cuando los desarrolladores se reúnen para intercambiar ideas,
  cosas increíbles pueden suceder.
</p>


<p>
  La temática de los contenidos del evento gira, principalmente, entorno a
  tecnologías desarrolladas por Google, aunque no de forma exclusiva. Para este
  DevFest Madrid se plantean las siguiente líneas temáticas principales:
  <ul>
  <li>Dispositivos Android, desde diferentes aspectos de la plataforma, como
    podría ser la programación, su seguridad, la personalización, hasta la
    utilización de nuevos dispositivos que hacen uso de Android, como pueden ser
    las Google Glass o los nuevos <i>wearables</i>.
  </li>
  <li>Programación web, recogiendo aspectos utilización de HTML5, diferentes
    librerías de uso como Polymer o Angular, así como distintas posibilidades
    multimedia del lenguaje de marcado, llegando a las instrumentaciones de
    servicios y servidores en <i>back-end</i> utilizando despligues en la nube o
    plataformas de servicios.</li>
</ul>
</p>

