<h1>Ponentes</h1>

<h2>Participa en el DevFest Madrid</h2>

<p>
¿Quieres participar en el DevFest Madrid impartiendo una
ponencia? <a href="https://docs.google.com/forms/d/1ScIQnzY12_1-r7R_I4mX4_3chZZdCqjXn2oX31c9uLI/viewform">Háznoslo
saber mediante este formulario.</a>
</p>

<h2>Ponentes confirmados</h2>

<p>
  Desde la organización del DevFest Madrid se está trabajando por conseguir para
  los asistentes el mejor contenido con ponentes de gran calidad y expertos de
  referencia en su campo de trabajo.
</p>

<br/>


<ul class="media-list">

  <devfest-speaker
     anchor="coloma"
     name="Nacho Coloma"
     imgSrc="https://lh6.googleusercontent.com/-MZ6QFhiAtOI/TrawgXhoPUI/AAAAAAAAAFE/Nh6TvPpC0gM/s433-no/4522489917_1f0742041e_z.jpg"
     homeUrl="https://plus.google.com/+NachoColoma">
    <p>
      CTO and founder at Extrema Sistemas and Koliseo, Nacho is a systems
      architect that has been designing applications for large corporations
      since 2000. He is also one of the organizers of Codemotion Madrid, the
      biggest IT event for developers in Spain, and since 2014 he is Google
      Developer Expert for the Google Cloud Platform. Nacho has pushed his
      company forward to become the first Google Cloud Platform training company
      in Europe and the first SpringSource training partner in Spain. He is a
      frequent speaker in all kind of events throughout Europe, including one
      TEDx.
    </p>
  </devfest-speaker>

  
  <devfest-speaker 
     anchor="diaz"
     name="Saúl Díaz"
     imgSrc="images/speakers/saul-diaz.png"
     homeUrl="https://twitter.com/sefford">
    <p>
      Saúl Díaz ha estado dedicado al desarrollo Android desde
      2010. Actualmente trabaja en Fever Inc., y anteriormente ha trabajado en
      otras empresas de primer nivel como Tuenti o Indra.
    </p>
  </devfest-speaker>


  <devfest-speaker 
     anchor="fernandez"
     name="Javier Fernández Seco"
     imgSrc="images/speakers/javier-fernandez.png"
     homeUrl="">
    <p>
      Trabajo en Tuenti, donde he pasado año y medio desarrollando para windows
      phone, android y durante los últimos 9 meses en proyectos de comunicación
      por voz, tanto en la solución VoIP basada en WebRTC, como en su adaptación
      para el producto Voz Digital.
    </p>
  </devfest-speaker>
  

  <devfest-speaker 
     anchor="gomez"
     name="Pedro Gómez Sánchez"
     imgSrc="images/speakers/pedro-gomez.jpg"
     homeUrl="https://twitter.com/pedro_g_s">
    <p>
      Android developer muy interesado por las nuevas tecnologías, clean code y
      testing. Actualmente formo parte del equipo de ingeniería de Tuenti
      Technologies como Senior Android Engineer, concretamente en el equipo
      Mobile Core. Intento mejorar cada día como ingeniero trabajando con nuevos
      frameworks, librerías, colaborando con la comunidad open source o
      aprendiendo nuevos lenguajes. El objetivo, escribir la mejor aplicación
      posible.
    </p>
  </devfest-speaker>


  <devfest-speaker 
     anchor="liersh"
     name="Martin Liersch"
     imgSrc="https://lh5.googleusercontent.com/-_Jd4ovuJgsE/AAAAAAAAAAI/AAAAAAAAAAA/V7ih4q3oHDg/s120-c/photo.jpg"
     homeUrl="https://www.google.com/+MartinLiersch">
    <p>
      I am a freelance Android developer from Germany. I started to develop
      Android apps right when I got my Motorola Milestone. It all started with
      an app where students at my university could rate and comment on the meals
      in the cafeteria. A lot of apps followed the success of this first app and
      I now have a couple of dozen apps in the Play Store (and other app stores)
      – ranging from some unsuccessful ideas to 1 million+ downloads apps. I am
      also an organizer of the GTUG Lake Constance and a frequent speaker at
      Android events.
    </p>
  </devfest-speaker>


  <devfest-speaker 
     anchor="ugia"
     name="José Luis Ugía"
     imgSrc="images/speakers/jose-luis-ugia.png"
     homeUrl="https://plus.google.com/+Jos%C3%A9LuisUg%C3%ADaGonz%C3%A1lez">
    <p>
      Emprendedor con más de 10 años de experiencia en el campo de las nuevas
      tecnologías y 5 en el área móvil, principalmente en Android. Actualmente
      Wunderlist-maker en 6Wunderkinder y cofundador en Momenta.
    </p>
  </devfest-speaker>

  <devfest-speaker 
     anchor="valiente"
     name="Cesar Valiente"
     imgSrc="images/speakers/cesar-valiente.png"
     homeUrl="http://about.me/cesar.valiente">
    <p>
      Cesar Valiente is currently working at 6Wunderkinder (in Berlin), the
      makers of Wunderlist, the famous and awarded multi platform productivity
      app, as Android Engineer.
    </p>
    <p>
      Previously, he worked in Amsterdam (Netherlands) and Madrid (Spain) in
      some relevant big companies and startups/agencies.
    </p>
    <p>
      He considers himself a community guy, he is co-founder of AndroidStartup,
      which was the first Android developers community located in Madrid.
    </p>
    <p>
      He is also an Open Source advocate, trying to spread the great benefits of
      open source software whenever he can.
    </p>
  </devfest-speaker>

  <devfest-speaker
     anchor="zasadnyy"
     name="Oleh Zasadnyy"
     imgSrc="http://devfest.gdg.org.ua/img/people/OlehZasadnyy.jpg"
     homeUrl="https://plus.google.com/+OlehZasadnyy">
    <p>
      GDG Lviv, manager, designer 
    </p>
    <p>
      Manager of one of the largest Google Developer Group in Ukraine.  Finalist
      of Google I/O Extended 2013, 2014, GDG DevFest 2013 (over 25 countries
      chosen it for their events and still using it) T-Shirt design
      contests. Main contributor to Project Zeppelin, which already has more 60
      stars and 110 forks.
    </p>
  </devfest-speaker>
  
</ul>
