<h3>Patrocinadores</h3>

<div class="container">

  <div class="row">
    <devfest-sponsor
       name="Google"
       url="http://www.google.es"
       logo="images/sponsors/google-logo.png"
       level="gold">
    </devfest-sponsor>
  </div>
  
  <div class="row" >
    <div class="col-xs-12 col-md-4">
      
      <devfest-sponsor
	 name="ScalarDone"
	 url="http://www.scalardrone.es"
	 logo="images/sponsors/scalar-drone-logo.png"
	 level="silver">
      </devfest-sponsor>
    </div>
    
    <div class="col-xs-12 col-md-4">
      <devfest-sponsor
	 name="Lunacloud"
	 url="http://www.lunacloud.com/es"
	 logo="http://www.lunacloud.com/images/logo/hosted_by_lunacloud/logo_271x35.png"
	 level="silver">
      </devfest-sponsor>
    </div>
    
    <div class="col-xs-12 col-md-4">
      <devfest-sponsor
	 name="Estrella Damm"
	 url="http://www.estrelladamm.com/"
	 logo="images/sponsors/estrella-damm-logo.png"
	 level="silver">
      </devfest-sponsor>
    </div>
  </div>
</div>
  
<p>
  ¿Estás interesado en participar como patrocinador del
  evento? <a href="#/info-patrocinadores">Más de información aquí.</a>
</p>
